<% content_for :head do %>
  <%= stylesheet_link_tag 'cinema_movie_search', media: 'all' %>
<% end %>
      <select name="year_from" 
              class="search-input search-input-year" 
              data-movie-target="yearFrom">
        <option value="">📅 Year from</option>
        <% (2000..Time.current.year).each do |y| %>
          <option value="<%= y %>" <%= 'selected' if params[:year_from] == y.to_s %>><%= y %></option>
        <% end %>
      </select>
      
      <select name="year_to" 
              class="search-input search-input-year" 
              data-movie-target="yearTo">
        <option value="">📅 Year to</option>
        <% (2000..Time.current.year).each do |y| %>
          <option value="<%= y %>" <%= 'selected' if params[:year_to] == y.to_s %>><%= y %></option>
        <% end %>
      </select>
    </div>
    
    <div class="tags-section">
      <label class="tags-label">
        <i class="fas fa-tags me-2"></i>Genres
      </label>
      <div class="tags-container" data-movie-target="tagSelect">
        <% selected_tags = params[:tags] || [] %>
        <% Tag.all.each do |tag| %>
          <span class="tag-option <%= 'selected' if selected_tags.include?(tag.name) %>" 
                data-tag="<%= tag.name %>">
            <%= tag.name %>
          </span>
        <% end %>
      </div>
      <input type="hidden" 
             name="tags[]" 
             data-movie-target="selectedTags" 
             value="<%= selected_tags.join(',') %>">
    </div>
    
    <div class="search-row">
      <button type="submit" class="search-button">
        <i class="fas fa-search me-2"></i>
        Search Movies
      </button>
    </div>
  </form>
</div>
