<%= stylesheet_link_tag 'cinema_series_search', 'cinema_series_results', media: 'all' %>
<%= javascript_include_tag 'series_performance', defer: true %>

<script>
  document.body.classList.add('bg-movie-index');
</script>

<turbo-frame id="series">
  <div class="container py-5">
    <h1 class="text-center text-white mb-5">Series Gallery</h1>

    <div class="mb-4">
      <%= render 'search_form' %>
    </div>

    <% if current_user&.admin? %>
      <div class="text-center mb-4">
        <%= link_to 'New Series', new_series_path, class: 'btn btn-gradient' %>
      </div>
    <% end %>

    <%= render 'results' %>
  </div>
</turbo-frame>
